#div{
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background:rgba(0, 0, 0,0.75);
}
#div2{
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background:rgba(0, 0, 0,0.75);
    margin-top: 50px;
    height: 300px;
}
#title{
    font-family: monospace;
    font-size: 60px;
    margin: auto;
    text-align: center;
    color: black;
    animation: normal;
}
#titlet{
    font-family: monospace;
    margin: auto;
    text-align: center;
    color: black;
    animation: normal;
}
#div3{
    margin-left: 15%;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 32%;
    height: 50%;
    float: left;
    border: 2px  black;

    
}
#div4{
    margin-right: 15%;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 32%;
    height: 50%;
    float: right;
    border: 2px  black;

}
#image{
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
    border: 2px black;

}
#link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: white;
    font-style: normal;
    border: 2px solid white;
    margin-top: 500px;
    margin-left: 30px;
    text-decoration: none;
}
#link2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: white;
    font-style: normal;
    margin-top: 50px;
    margin-left: 22%;
    padding-top: 50px;
    text-decoration: none;
    
}
#header{
    font-family: monospace;
}
#description{
    font-size: medium;
    font-family: monospace;
    color: white;
}
#body{
    background-image: url("background.jpg");
    background-size: 3000px 1500px;
}
#p{
    font-family: monospace;
    color: white;
}
#header{
    font-family: monospace;
    color: white;
}
#container{
    float: right;
}
#bottom{
    margin: auto;
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:rgba(0, 0, 0,0.75);
    height: 100px;
    bottom: 0;
    margin-top: 50px;
    left: 0;
}
#text{
    font-size: medium;
    top: 100px;
    margin-left: 50px;
    color:  white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    text-align: center;
}
